:root{
    --color-whute:#F5F5F5;
    --color-black: #484A54;
    --color-gray:#6d7188;
    --color-gray-light:#d8d8d8;
    --color-aqwa: #1FCFDA;
}

@font-face {
    font-family: InterB;
    src: url(./fonts/Inter-Bold.ttf) format('truetype');
}

@font-face {
    font-family: InterM;
    src: url(./fonts/Inter-Medium.ttf) format('truetype');
}

@font-face {
    font-family: InterR;
    src: url(./fonts/Inter-Regular.ttf) format('truetype');
}

body{
    font-family: InterR, sans-serif;
    font-size: 1.125rem;
    color: var(--color-black);
}

.container{
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}